.main-footer {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
}

.item-box>p {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0.6rem;
}

.item-box>p:hover {
    cursor: pointer;
    color: red;
    transition: 0.25s;
    text-decoration: underline;
    text-underline-offset: 0.3rem;

}

.address-box {
    width: 7rem;
}

.address-text {
    font-weight: 500;
    font-size: 13px;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.line {
    border: 1px solid;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
}

#fb-icon:hover {
    cursor: pointer;
    color: blue;
    transition: 0.5s;
}

#ins-icon:hover {
    cursor: pointer;
    color: red;
    transition: 0.5s;
}

#tw-icon:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

#ln-icon:hover {
    cursor: pointer;
    color: cyan;
    transition: 0.5s;
}